body {
  background-color: hsl(185, 75%, 39%);
  overflow: hidden;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 0.75rem;
  background-image: url(https://profile-card-1-3-git-main-alizzie.vercel.app/images/bg-pattern-bottom.svg), url(https://profile-card-1-3-git-main-alizzie.vercel.app/images/bg-pattern-top.svg);
  background-repeat: no-repeat;
  background-position: top 52vh left 48vw,
                       bottom 33vh right 52vw;
  min-height: 100vh;
  flex-direction: column;
}

h2 {
  color: hsl(229, 23%, 23%);
  margin-bottom: 0;
  font-weight: 700;
}

h4 {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
}

span {
  font-weight: 400;
  font-family: 'Kumbh Sans', sans-serif;
  color: hsl(227, 10%, 46%);
  padding-left: 10px;
}

p {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
  margin-top: 8px;
  font-size: 0.8rem;
}

hr {
  position: relative;
  top: 40px;
  border-style: dotted none none none;
  color: hsl(227, 10%, 46%);
  margin-top: 30px;
  margin-bottom: 15px;
}

.victor {
  width: 110px;
  height: 100px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  position: relative;
  top: 90px;
}

.card {
  background-color: white;
  background-image: url(https://profile-card-1-3-git-main-alizzie.vercel.app/images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 22rem;
  height: 24rem;
  border-radius: 15px;
  box-shadow: 5px 5px 15px hsl(0, 0%, 0%, 0.4);
}

.profile {
  margin-top: 80px;
  letter-spacing: 0;
  /*width: 400px;*/
  position: relative;
  top: 40px;
}

.card-information {
  /*margin: auto;*/
  position: relative;
  top: 40px;
}

.card-information-spacing {
  letter-spacing: 1px;
  font-size: 10px;
}

.followers {
  display: inline-block;
  width: 100px;
}

.likes {
  display: inline-block;
  width: 100px
}

.photos {
  display: inline-block;
  width: 100px;
}

.attribution {
  position: relative;
  top: 150px;
}
